[Desktop Entry]
Type=Application
Name=APK安装器
Comment=简单的图形 APK 安装器，支持右键APK直接安装
Exec=apk-installer %U
Icon=apk-installer
Terminal=false
MimeType=application/vnd.android.package-archive;
Categories=Utility;Development;
NoDisplay=false
StartupWMClass=apk-installer
